.cabecera_serie {
    position: relative;
}

.portada_serie {
    height: 315px;
    overflow: hidden;
}

.caratula {
position: absolute;
bottom: -28px;
left: 89px;
width:200px;
background: url('/img/film/caratula/0.jpg');
min-height:260px;
}


.puntuacion 
{
    position: absolute;
    right: 100px;
    font-size: 150px;
    top: 90px;
    color: White;
    text-shadow: 0 0 2px black;
    
}
.capitulo_nombre
{
    text-decoration: none;
display: block;
color: rgb(107, 107, 107);
margin-left: 10px;
padding-left: 10px;
border-left: solid 1px gray;

}
.acordeon #MainContent {
padding-left: 20px;
}
.temporada_nombre
{
    cursor:pointer;
}
.info_cabecera {
    position: absolute;
    bottom: 57px;
    left: 336px;
    color: white;
}
.info_cabecera h2
{
    color:White;
    font-size:50px;
}


.fondoblurred
{
    min-width: calc( 100% + 46px);
    margin: -27px;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    position: fixed;
}

.serie_contenido_d {
    margin-left: 335px;
    margin-right: 100px;
    text-align: justify;
}

.serie_contenido_i {
    position: absolute;
    left: 88px;
    top: 39px;
    width: 201px;
}

.serie_contenido {
position: relative;
background: white;
padding-top: 15px;
padding-bottom: 78px;
}

.anadir, .reportar{
    width: 100%;
    border: none;
    height: 30px;
    margin: 0px 0px 8px 0px;
    cursor:pointer;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 0 7px -3px rgba(0, 0, 0, 0.52);
    display: block;
text-align: center;
vertical-align: middle;
font-size: 19px;
padding-top: 4px;
}

.anadir
{
    background: rgb(30, 103, 196);
    border-bottom: solid 2px rgb(66, 66, 155);
}

.reportar
{
   background: rgb(196, 30, 30);
   border-bottom: solid 2px rgb(196, 30, 30);
}